.checked {
  width: 16px;
  height: 16px;
  background: #2563EB;
  border-radius: 3px;
  border: 2px solid #2563EB;
  position: absolute;
  left: 5px;
  top: 5px;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  cursor: pointer;
}
