#################  LearnHub ###################
LEARNHUB_API_PORT=9700
LEARNHUB_PC_PORT=9800
LEARNHUB_ADMIN_PORT=9900
LEARNHUB_JWT_KEY=learnhub

#################  MySQL ###################
MYSQL_PORT=23307

#################  Local S3 / MinIO ###################
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001
MINIO_ROOT_USER=learnhub
MINIO_ROOT_PASSWORD=learnhub123456
MINIO_BUCKET=learnhub
MINIO_API_CORS_ALLOW_ORIGIN=http://localhost:9900,http://127.0.0.1:9900,http://minio.localhost:9900
