#################  LearnHub ###################
LEARNHUB_API_PORT=9700
LEARNHUB_PC_PORT=9800
LEARNHUB_H5_PORT=9801
LEARNHUB_ADMIN_PORT=9900
LEARNHUB_JWT_KEY=learnhub

#################  MySQL ###################
MYSQL_PORT=23307